ion-menu {
  font-family: 'Raleway', sans-serif !important;
}

.head {
  background: #001e52;
  padding: 1em;
  color: white;
}

.link {
  padding: 0.5em 1em;
  font-size: 1.2em;
  ion-icon {
    color: #5a5656;
    margin-right: 2rem;
  }
}
