ion-header {
  font-family: 'Raleway', sans-serif !important;
  ion-navbar {
    padding: 1em !important;
  }
}

ion-card {
  padding: 1em;
}

.toolbar-background {
  background: #001e52;
}

.toolbar-title {
  color: white;
  font-size: 2rem;
}

.bar-buttons {
  color: white;
}

.icon-center {
  display: block;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: .5rem;
}

.t-a-c {
  text-align: center;
}
.text-center{
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;

  transform: translate(-50%, -50%);
  color: white;
}
.fill{
  height: 100vh;
  width: 100vw;
}
