<!--
  Generated template for the StandManagerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>stand-manager</ion-title>
    <ion-buttons end *ngIf="isEdit || isManage">
      <button ion-button (click)="isEdit = false;isManage=false;" style="color:white">Close</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab right bottom>
    <button ion-fab (click)="isEdit = true; isManage = false">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-item-group *ngIf="!isEdit && !isManage">

    <ion-item-divider color="light" text-center>Stand Areas</ion-item-divider>
    <ion-item *ngFor="let item of availableStands;" (click)="getApplicants(item.area)">{{item.area}}</ion-item>
  </ion-item-group>
</ion-content>

<ion-content padding *ngIf="isEdit">
  <ion-item>
  </ion-item>

  <ion-item>
    <ion-label floating>City</ion-label>
    <ion-input type="text" [(ngModel)]="newStand.city"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Area</ion-label>
    <ion-input type="text" [(ngModel)]="newStand.area"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Stand Number</ion-label>
    <ion-input type="text" [(ngModel)]="newStand.standNumber"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Price</ion-label>
    <ion-input type="text" [(ngModel)]="newStand.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Longitude</ion-label>
    <ion-input type="text" [(ngModel)]="newStand.longitude"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Latitude</ion-label>
    <ion-input type="text" [(ngModel)]="newStand.latitude"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Description</ion-label>
    <ion-input type="text" [(ngModel)]="newStand.description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Details</ion-label>
    <ion-input type="text" [(ngModel)]="newStand.details"></ion-input>
  </ion-item>

  <button ion-button margin-top (click)="addNew()" color="dark-blue">Add</button>
</ion-content>

<ion-content padding *ngIf="isManage" style="margin-top: 5rem;">
  <ion-list *ngFor="let applicant of applicants">
    <ion-item>
      <h2>{{applicant.applicant}}</h2>
      <p>{{applicant.status}}</p>
      <button ion-button clear item-end (click)="approve(applicant.standId)" *ngIf="applicant.status === 'Pending Approval'">Approve</button>
      <button ion-button clear item-end (click)="assign(applicant.standId)" *ngIf="applicant.status === 'Paid'">Assign</button>
      <button ion-button clear item-end (click)="charge(applicant.standId)" *ngIf="applicant.status === 'Owned'">Charge</button>
    </ion-item>
  </ion-list>
</ion-content>
